@use "variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: v.$font-sans;
  background: v.$color-bg;
  color: v.$color-text;
}

.app {
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  max-width: 768px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.font-sans {
  font-family: Inter, sans-serif;
}
.font-serif {
  font-family: Lora, serif;
}
.font-mono {
  font-family: Inconsolata, monospace;
}

main {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
