@use "variables" as v;

.searchContainer {
  width: 100%;
}
.search-form {
  width: 100%;
  background-color: v.$neutral-100;
  padding: v.$spacing-250;
  border-radius: 1rem;
  display: flex;
  gap: v.$spacing-300;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;

  &.form-error {
    border-color: v.$red-500;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      scale: 1.1;
    }

    &:active {
      scale: 1;
    }
  }
}

.searchInput {
  width: 90%;
  display: inline-block;
  background-color: v.$neutral-100;
  outline: none;
  border: none;
  font-family: inherit; // Use the app's font (Inter/Lora/Mono based on selection)
  font-size: 1rem; // 16px - good readable size
  font-weight: 700; // Bold like the design
  color: v.$neutral-800; // D
}
