@use "variables" as v;

.searchContainer {
  width: 100%;
}
.search-form {
  width: 100%;
  background-color: v.$neutral-100;
  padding: v.$spacing-250;
  border-radius: 1rem;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      scale: 1.1;
    }

    &:active {
      scale: 1;
    }
  }
}

#searchInput {
  width: 90%;
  display: inline-block;
  background-color: v.$neutral-100;
  outline: none;
  border: none;
}
