@use "variables" as v;

.light {
  body {
    background-color: v.$neutral-0;
    color: v.$neutral-900;
  }

  .header {
    background-color: v.$neutral-0;
  }

  .header__fontSelector {
    border-right-color: v.$neutral-200;
  }

  .header__fontMenu {
    background-color: v.$neutral-0;
    color: v.$neutral-900;
  }

  .header__fontOption:hover {
    background-color: v.$neutral-100;
  }

  .header__toggleSlider {
    background-color: v.$neutral-0;
    border-color: v.$neutral-200;
  }

  .header__toggleSlider::before {
    background-color: v.$neutral-0;
  }

  .header__themeIcon {
    color: v.$neutral-500;
  }
}

.dark {
  body {
    background-color: v.$neutral-950;
    color: v.$neutral-0;
  }

  .header {
    background-color: v.$neutral-950;
  }

  .header__fontSelector {
    border-right-color: v.$neutral-700;
  }

  .header__fontMenu {
    background-color: v.$neutral-900;
    color: v.$neutral-0;
  }

  .header__fontOption:hover {
    background-color: v.$neutral-800;
  }

  .header__toggleSlider {
    background-color: v.$neutral-700;
    border-color: v.$neutral-700;
  }

  .header__toggleSlider::before {
    background-color: v.$neutral-0;
  }

  .header__themeIcon {
    color: v.$purple-500;
  }
}
